.navbar-right{
  width: 80%;
}
.logo {
  width:10%;
}
.

grid {
    display: grid;
    border: 2px blue solid;
    height: 500px;
    width:500px;
    grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr);
    gap: 5px;
  }

#content {
    width: 600px;
    background: #fff;
    margin-left: 10%;

  }
  p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

.btn btn-primary {
    color:green;
}

.btn btn-success {

}

<!--.column { 
    margin: 20px;
}
